.pokemon_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon_card {
  background-color: #df1818;
  height: 240px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.pokemon_card_image {
  background-color: white;
  width: 80%;
  padding: 18px;
  border: 1px solid #1a1616;
}

.pokemon_id_and_name {
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pokemon_types {
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 2px;
}
