.pokemon_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon_card {
  background: #df1818; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #93291e,
    #df1818
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #93291e,
    #df1818
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  filter: drop-shadow(6px 4px 2px #dfdfdf);
  height: 240px;
  width: 180px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.pokemon_card_image {
  background: radial-gradient(circle at 50% 50%, #ffffff, #e7ebf7, #ced6f0);
  width: 80%;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #1a1616;
}

.pokemon_id_and_name {
  color: white;
  text-transform: uppercase;
  margin-top: 2px;
  font-size: 18px;
  margin-bottom: 2px;
}

.pokemon_types {
  color: white;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
}
