.header {
  background-color: #df1818;
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
}

.main_heading {
  margin: auto;
  font-family: "Helvetica";
  font-size: 40px;
}
